/* line 4, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/screen.scss */
a,
a:visited {
  color: #7DA9FA;
  text-decoration: none;
}

/* line 16, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 21, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 26, ../sass/screen.scss */
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 18px;
  color: #6c727f;
  font-weight: 300;
}

/* line 35, ../sass/screen.scss */
html body.admin-menu {
  margin-top: 0 !important;
}

/* line 39, ../sass/screen.scss */
html.page-admin body.admin-menu {
  margin-top: 29px !important;
}

/* line 43, ../sass/screen.scss */
#admin-menu {
  display: none;
}

/* line 47, ../sass/screen.scss */
html.page-admin #admin-menu {
  display: block;
}

/* line 53, ../sass/screen.scss */
ul.menu li,
.item-list ul {
  margin: 0;
  padding: 0;
}

/* line 61, ../sass/screen.scss */
#header,
#footer_wrap,
#main {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

/* line 69, ../sass/screen.scss */
#footer {
  line-height: 56px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

/* line 78, ../sass/screen.scss */
#footer:before {
  content: " ";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: url(../images/black-translucent.png) repeat-x;
  background: rgba(0, 0, 0, 0.3);
}

/* line 91, ../sass/screen.scss */
#footer_right {
  float: right;
  font-size: 11px;
}

/* line 97, ../sass/screen.scss */
#site-by-cci {
  padding-left: 5px;
}
/* line 101, ../sass/screen.scss */
#site-by-cci a {
  text-decoration: none;
  color: #6c727f;
}
/* line 106, ../sass/screen.scss */
#site-by-cci a:hover {
  text-decoration: underline;
}

/* line 113, ../sass/screen.scss */
#copyright {
  padding-right: 5px;
}

/* line 120, ../sass/screen.scss */
#block-system-main-menu ul {
  list-style: none;
  float: left;
}
/* line 125, ../sass/screen.scss */
#block-system-main-menu ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 131, ../sass/screen.scss */
#block-system-main-menu ul li a {
  color: #6c727f;
  text-decoration: none;
  line-height: 50px;
  margin: 3px 0;
  display: block;
  padding: 0 10px;
}
/* line 141, ../sass/screen.scss */
#block-system-main-menu ul li a:hover, #block-system-main-menu ul li a.active {
  border-top: 3px solid #6c727f;
  margin-top: 0;
}
/* line 148, ../sass/screen.scss */
#block-system-main-menu ul li ul {
  display: none;
  position: absolute;
  bottom: 100%;
  margin-bottom: 1px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  background: rgba(255, 255, 255, 0.7);
}
/* line 159, ../sass/screen.scss */
#block-system-main-menu ul li ul li {
  display: block;
  margin: 0;
}
/* line 164, ../sass/screen.scss */
#block-system-main-menu ul li ul li a {
  display: block;
  margin: 0;
  padding: 0 8px;
  line-height: 36px;
}
/* line 172, ../sass/screen.scss */
#block-system-main-menu ul li ul li a:hover,
#block-system-main-menu ul li ul li a.active {
  border: 0;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 180, ../sass/screen.scss */
#block-system-main-menu ul li ul li.first a {
  padding-left: 8px;
}
/* line 186, ../sass/screen.scss */
#block-system-main-menu ul li:hover ul {
  display: block;
}
/* line 192, ../sass/screen.scss */
#block-system-main-menu ul li.first a {
  padding-left: 0;
}
/* line 196, ../sass/screen.scss */
#block-system-main-menu ul li.last {
  margin-right: 0;
}
/* line 199, ../sass/screen.scss */
#block-system-main-menu ul li.last a {
  padding-right: 0;
}
/* line 205, ../sass/screen.scss */
#block-system-main-menu ul li.expanded {
  cursor: default;
}

/* line 212, ../sass/screen.scss */
#main-wrapper {
  position: absolute;
  bottom: 57px;
  left: 0;
  right: 0;
  padding: 20px 60px 20px 50px;
  background: url(../images/white-translucent.png);
  background: rgba(255, 255, 255, 0.3);
}
/* line 222, ../sass/screen.scss */
#main-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  left: 0;
  right: 0;
  background: url(../images/black-translucent.png) repeat-x;
  background: rgba(0, 0, 0, 0.3);
  height: 1px;
}

/* line 254, ../sass/screen.scss */
.view-collections {
  overflow-x: hidden;
  padding: 11.5px;
  position: relative;
  left: -11.5px;
  width: 100%;
}
/* line 258, ../sass/screen.scss */
.view-collections .view-content {
  width: 10000px;
  position: relative;
}
/* line 264, ../sass/screen.scss */
.view-collections .views-row {
  position: relative;
  float: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin: 0 11.5px;
  height: 145px;
}
/* line 268, ../sass/screen.scss */
.view-collections .views-row .views-field-title a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.7);
  line-height: 38px;
  color: #6c727f;
  text-decoration: none;
  text-shadow: none;
}
/* line 284, ../sass/screen.scss */
.view-collections .views-row.active {
  border: 2px solid rgba(255, 255, 255, 0.8);
  margin: -2px 9.5px;
}
/* line 290, ../sass/screen.scss */
.view-collections .views-row-first {
  margin-left: 0;
}
/* line 294, ../sass/screen.scss */
.view-collections .views-row-first.active {
  margin-left: -2px;
}
/* line 299, ../sass/screen.scss */
.view-collections .views-row-last {
  margin-right: 0;
}

/* line 305, ../sass/screen.scss */
.view-photo-album-node {
  overflow-x: hidden;
  padding: 11.5px;
  position: relative;
  left: -11.5px;
  width: 100%;
}
/* line 309, ../sass/screen.scss */
.view-photo-album-node .view-content {
  width: 10000px;
  position: relative;
}
/* line 315, ../sass/screen.scss */
.view-photo-album-node ul {
  list-style: none;
}
/* line 319, ../sass/screen.scss */
.view-photo-album-node ul li {
  list-style: none;
  text-shadow: none;
}
/* line 328, ../sass/screen.scss */
.view-photo-album-node .views-field-field-image ul li {
  position: relative;
  float: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin: 0 11.5px;
  height: 145px;
}
/* line 332, ../sass/screen.scss */
.view-photo-album-node .views-field-field-image ul li img {
  cursor: pointer;
}
/* line 338, ../sass/screen.scss */
.view-photo-album-node .views-field-field-image ul li.active {
  border: 2px solid rgba(255, 255, 255, 0.8);
  margin: -2px 9.5px;
}
/* line 344, ../sass/screen.scss */
.view-photo-album-node .views-field-field-image ul li.first {
  margin-left: 0;
}
/* line 348, ../sass/screen.scss */
.view-photo-album-node .views-field-field-image ul li.first.active {
  margin-left: -2px;
}
/* line 353, ../sass/screen.scss */
.view-photo-album-node .views-field-field-image ul li.last {
  margin-right: 0;
}

/* line 362, ../sass/screen.scss */
#page-title {
  position: absolute;
  top: -80px;
  left: 30px;
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  line-height: 100%;
}

/* line 375, ../sass/screen.scss */
#background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
/* line 383, ../sass/screen.scss */
#background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 391, ../sass/screen.scss */
#background img.new {
  left: -10000px;
  z-index: 0;
}

/* line 398, ../sass/screen.scss */
#background img.landscape,
img.temp-img.landscape {
  left: 50%;
  width: auto;
  height: 100%;
}

/* line 405, ../sass/screen.scss */
.temp-img {
  position: absolute;
  left: -99999px !important;
  width: 100%;
  height: auto;
}

/* line 413, ../sass/screen.scss */
#block-system-main {
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/* line 421, ../sass/screen.scss */
#arrow-left,
#arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}

/* line 428, ../sass/screen.scss */
#arrow-left {
  left: -40px;
}

/* line 432, ../sass/screen.scss */
#arrow-right {
  right: -40px;
}

@media screen and (max-width: 1060px) {
  /* line 443, ../sass/screen.scss */
  #arrow-right {
    right: -50px;
  }

  /* line 448, ../sass/screen.scss */
  #footer_right {
    margin-right: 20px;
  }

  /* line 453, ../sass/screen.scss */
  #block-system-main-menu {
    margin-left: 20px;
  }
}
@media screen and (max-width: 720px) {
  /* line 466, ../sass/screen.scss */
  #footer {
    line-height: 40px;
  }

  /* line 471, ../sass/screen.scss */
  #footer_right {
    float: none;
    clear: both;
    text-align: center;
    margin: 0 20px;
    border-top: 1px solid #cdcdcd;
  }

  /* line 480, ../sass/screen.scss */
  #block-system-main-menu ul {
    text-align: center;
    display: block;
    width: 100%;
    float: none;
    margin-left: -10px;
  }
  /* line 488, ../sass/screen.scss */
  #block-system-main-menu ul ul li a {
    line-height: 34px;
  }

  /* line 494, ../sass/screen.scss */
  #page-title {
    left: -40px;
    right: -35px;
    text-align: center;
  }

  /* line 501, ../sass/screen.scss */
  #block-block-1 a {
    width: 100%;
    display: block;
    text-align: center;
  }

  /* line 508, ../sass/screen.scss */
  #main-wrapper {
    bottom: 81px;
  }
}
@media screen and (max-width: 480px) {
  /* line 521, ../sass/screen.scss */
  #block-system-main-menu ul li {
    margin-right: 0px;
  }
  /* line 525, ../sass/screen.scss */
  #block-system-main-menu ul li a {
    padding: 0 2px;
  }

  /* line 532, ../sass/screen.scss */
  #main-wrapper {
    padding-left: 45px;
    padding-right: 45px;
  }

  /* line 538, ../sass/screen.scss */
  #arrow-right {
    right: -45px;
  }

  /* line 543, ../sass/screen.scss */
  #page-title {
    font-size: 40px;
  }
}
@media screen and (max-height: 550px) and (max-width: 720px) {
  /* line 552, ../sass/screen.scss */
  #main-wrapper {
    position: static;
    margin-top: 100px;
  }

  /* line 558, ../sass/screen.scss */
  #footer {
    position: static;
  }
}
